<script type="application/json">
  {
    "name": "List with twig",
    "description": "Lorem ipsum dolor sit amet ...",
    "context": {
      "list": ["one", "two", "three"]
    }
  }
</script>

<component>
  <ul>
    {% for value in list %}
    <li>{{ value }}</li>
    {% endfor %}
  </ul>
</component>
