<div class="digg">
  <div class="row">
    <div class="col col--12-of-12 center">
      <nav>
        <ul>
          <li><a href="#">technology</a></li>
          <li><a href="#">long reads</a></li>
          <li><a href="#">science</a></li>
          <li><a href="#">donald trump</a></li>
          <li><a href="#">news</a></li>
          <li><a href="#">entertainment</a></li>
          <li><a href="#">digg features</a></li>
          <li><a href="#">originals</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
